<% include ../partials/header %>
<div class="container">
		
		<h1 style="text-align: center;">Edit Comment</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
			  <div class="form-group">
			    <label >Text</label>
			    <input type="text" class="form-control"  value="<%=comment.text%>" name="comment[text]" required=true>
			  </div>
	
			  <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
			</form>
			<a href="/campgrounds">Go Back</a>

		</div>
	
</div> 


<% include ../partials/footer %>