<% include ../partials/header %>
<div class="container">
		
		<h1 style="text-align: center;">Add New Comment to <%=campground.name %></h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/campgrounds/<%=campground._id%>/comments" method="POST">
			  <div class="form-group">
			    <label >Text</label>
			    <input type="text" class="form-control"  placeholder="Text" name="comment[text]" required=true>
			  </div>
	
			  <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
			</form>
			<a href="/campgrounds">Go Back</a>

		</div>
	
</div> 


<% include ../partials/footer %>
